.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }
  .header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
  }
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  .header__searchInput {
    height: 11px;
    padding: 10px;
    border: none;
    width: 100%;
  }
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }
  .header__option:hover{
    border: 1px solid seashell;
  
  }
  .header__nav {
    display: flex;
    justify-content: space-evenly;
  }
  .header__optionLineOne {
    font-size: 10px;
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
  
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
  .header__clearlink {
    text-decoration: none;
  }
  .header__small {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e;
    position: static;
    top: 0;
    z-index: 100;
    width: 100%;
  }
  .movie-link {
    width: 27%;
  }
  .link-container {
    width: 69%;
  }
  .header__small ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__small li {
    list-style: none;
  }
  .header__small a {
    text-decoration: none;
    color: white;
  }
  .header__small a:hover{
    border: 1px solid seashell;
  }
  .header__small a h1 {
    left: 100%;
  }
  
  