.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;

}

.login__container>h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container>form>h5 {
  margin-bottom: 5px;
}

.login__container>form>input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login__container>p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}

.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
}

.footer {
  padding-top: 0px;
  font-size: px;
  text-align: center;
  max-width: 100%;
}

.footer>button {
  width: 350px;

}

.footer__new h5 {
  font-weight: 150;
  margin-top: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
}

h5::before {
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  border-top: 1px solid #dfdfdf;
  background-color: transparent;
}

.footer__new h5>span {
  background: #fff;
  padding: 0 15px;
}

.inner-divider{
  width: 100%;
  height: 44px;
  margin-bottom: -18px;
  background: -webkit-linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
  background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
  z-index: 0;
  zoom: 1;
margin-top: 20px;
}

/* .inner-divider{
  content: "";
  display: block;
 width: 100%;
  height: 44px;
  background-color: transparent;
  z-index: 1;
 
} */

.footer__link{
 
  width: 350px;
 
}

.footer__link ul {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;

}

.footer__link li {
  list-style: none;
}

.footer__link a {
  text-decoration: none;
  color: #0066c0;
  font-size: 13px;
}
.footer__link a:hover{
  color: red;
  text-decoration: underline;
}
.mini-note{
  color: rgb(85, 85,85);
  font-size: 13px;
  padding-top: 10px;
}